html, body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: lightblue;
}

.calculator {
    background-color: darkgray;
    width: 130px;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

input